---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists?ids=0Wxy5Qka8BN9crcFkiAxSR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0Wxy5Qka8BN9crcFkiAxSR"
            },
            "followers" : {
              "href" : null,
              "total" : 461452
            },
            "genres" : [ "acoustic blues", "blues", "blues rock", "chicago blues", "classic rock", "delta blues", "harmonica blues", "memphis blues", "traditional blues" ],
            "href" : "https://api.spotify.com/v1/artists/0Wxy5Qka8BN9crcFkiAxSR",
            "id" : "0Wxy5Qka8BN9crcFkiAxSR",
            "images" : [ {
              "height" : 1100,
              "url" : "https://i.scdn.co/image/c2408f7f93e582b422af47aa72904a24397029d9",
              "width" : 818
            }, {
              "height" : 861,
              "url" : "https://i.scdn.co/image/42a40543d2bde12565d33ee74a2566fd85b0c9f5",
              "width" : 640
            }, {
              "height" : 269,
              "url" : "https://i.scdn.co/image/d436651ba6b691a4b1bf631e1020d04967c16089",
              "width" : 200
            }, {
              "height" : 86,
              "url" : "https://i.scdn.co/image/2e43a2813672ed781d2395808c46957ae566197d",
              "width" : 64
            } ],
            "name" : "Howlin' Wolf",
            "popularity" : 52,
            "type" : "artist",
            "uri" : "spotify:artist:0Wxy5Qka8BN9crcFkiAxSR"
          } ]
        }
      vcr_decompressed: gzip
  recorded_at: Fri, 07 Oct 2022 01:09:31 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/0Wxy5Qka8BN9crcFkiAxSR/related-artists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : [ {
            "external_urls" : {
              "spot[...]
