---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/3nwz2mVTVbWSGMSFMzN7pu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImY5Yzk2NDJmNmUxNDRhNmM5OWMzZTJlOWJlOTljODNiIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : "",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/3nwz2mVTVbWSGMSFMzN7pu"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/3nwz2mVTVbWSGMSFMzN7pu",
          "id" : "3nwz2mVTVbWSGMSFMzN7pu",
          "images" : [ {
            "height" : 640,
            "url" : "https://mosaic.scdn.co/640/ab67616d0000b273091b44e4d0229bd7ee830cecab67616d0000b27313fb77f84fbb0b43e9dd8d53ab67616d0000b273bbb092967256946f46b22399ab67616d0000b273f2d0c6b2a7a57e58424273c6",
            "width" : 640
          }, {
            "height" : 300,
            "url" : "https://mosaic.scdn.co/300/ab67616d0000b273091b44e4d0229bd7ee830cecab67616d0000b27313fb77f84fbb0b43e9dd8d53ab67616d0000b273bbb092967256946f46b22399ab67616d0000b273f2d0c6b2a7a57e58424273c6",
            "width" : 300
          }, {
            "height" : 60,
            "url" : "https://mosaic.scdn.co/60/ab67616d0000b273091b44e4d0229bd7ee830cecab67616d0000b27313fb77f84fbb0b43e9dd8d53ab67616d0000b273bbb092967256946f46b22399ab67616d0000b273f2d0c6b2a7a57e58424273c6",
            "width" : 60
          } ],
          "name" : "Test Playlist",
          "owner" : {
            "display_name" : "Genre Orb Developer",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/31upmxyqdkt5utuji6r5wsrkgn4e"
            },
            "href" : "https://api.spotify.com/v1/users/31upmxyqdkt5utuji6r5wsrkgn4e",
            "id" : "31upmxyqdkt5utuji6r5wsrkgn4e",
            "type" : "user",
            "uri" : "spotify:user:31upmxyqdkt5utuji6r5wsrkgn4e"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "Myw1YjBkOTM3ZWQ4OThlYmZlY2ZmZDNmYzgwMjZlN2QyNzk3ZWIxYWU2",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/3nwz2mVTVbWSGMSFMzN7pu/tracks?offset=0&limit=100",
            "items" : [ {
              "added_at" : "2022-11-02T03:55:52Z",
              "added_by" : {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/user/31upmxyqdkt5utuji6r5wsrkgn4e"
                },
                "href" : "https://api.spotify.com/v1/users/31upmxyqdkt5utuji6r5wsrkgn4e",
                "id" : "31upmxyqdkt5utuji6r5wsrkgn4e",
                "type" : "user",
                "uri" : "spotify:user:31upmxyqdkt5utuji6r5wsrkgn4e"
              },
              "is_local" : false,
              "primary_color" : null,
              "track" : {
                "album" : {
                  "album_type" : "single",
                  "artists" : [ {
                    "external_urls" : {
                      "spotify" : "https://open.spotify.com/artist/2UvpgJrLxsGgyStbpzldZj"
                    },
                    "href" : "https://api.spotify.com/v1/artists/2UvpgJrLxsGgyStbpzldZj",
                    "id" : "2UvpgJrLxsGgyStbpzldZj",
                    "name" : "YSI",
                    "type" : "artist",
                    "uri" : "spotify:artist:2UvpgJrLxsGgyStbpzldZj"
                  } ],
                  "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG",[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/3nwz2mVTVbWSGMSFMzN7pu/tracks?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImQ5MWMyOTNjNDg2YjA4MzJmYTBlMmU2NmM3OWZiNzk4Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-[...]
