---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1iNbNgr25BaS5e9a8xUZ9J
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/1iNbNgr25BaS5e9a8xUZ9J"
          },
          "followers" : {
            "href" : null,
            "total" : 460
          },
          "genres" : [ ],
          "href" : "https://api.spotify.com/v1/artists/1iNbNgr25BaS5e9a8xUZ9J",
          "id" : "1iNbNgr25BaS5e9a8xUZ9J",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab67616d0000b273c1ce15f78cf5179b2436c939",
            "width" : 640
          }, {
            "height" : 300,
            "url" : "https://i.scdn.co/image/ab67616d00001e02c1ce15f78cf5179b2436c939",
            "width" : 300
          }, {
            "height" : 64,
            "url" : "https://i.scdn.co/image/ab67616d00004851c1ce15f78cf5179b2436c939",
            "width" : 64
          } ],
          "name" : "Scientist",
          "popularity" : 1,
          "type" : "artist",
          "uri" : "spotify:artist:1iNbNgr25BaS5e9a8xUZ9J"
        }
      vcr_decompressed: gzip
  recorded_at: Mon, 26 Sep 2022 17:20:46 GMT
recorded_with: VCR 6.1.0
