---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/3IlD894HSWDF8YlkCP25Sq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImVjMjg5NjUzMmQwYjBkMjk1NjQ3NDExMGUxMWE2NDM4Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : "Developer Test",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/3IlD894HSWDF8YlkCP25Sq"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/3IlD894HSWDF8YlkCP25Sq",
          "id" : "3IlD894HSWDF8YlkCP25Sq",
          "images" : [ ],
          "name" : "Test Playlist",
          "owner" : {
            "display_name" : "matthewgizzi",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/matthewgizzi"
            },
            "href" : "https://api.spotify.com/v1/users/matthewgizzi",
            "id" : "matthewgizzi",
            "type" : "user",
            "uri" : "spotify:user:matthewgizzi"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MjEsMmMyOTMxMTgzYjlmMjU0ZjExOTdkNzI5MmRkNjI5MjgwNTQxNjIzMQ==",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/3IlD894HSWDF8YlkCP25Sq/tracks?offset=0&limit=100",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:3IlD894HSWDF8YlkCP25Sq"
        }
      vcr_decompressed: gzip
  recorded_at: Fri, 16 Sep 2022 03:47:17 GMT
recorded_with: VCR 6.1.0
