---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists?ids=6GI52t8N5F02MxU0g5U69P,36hwOoNPgnsKnhoMBYpJrJ,69VgCcXFV59QuQWEXSTxfK,12LgviUQ9DbfYJJ9niDWRq,3nXMZsj1H0F7h9SDUeYNjg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/6GI52t8N5F02MxU0g5U69P"
            },
            "followers" : {
              "href" : null,
              "total" : 2747422
            },
            "genres" : [ "blues rock", "classic rock", "mexican classic rock" ],
            "href" : "https://api.spotify.com/v1/artists/6GI52t8N5F02MxU0g5U69P",
            "id" : "6GI52t8N5F02MxU0g5U69P",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab6761610000e5eb09882b1b7b33732abd60fc38",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/ab6761610000517409882b1b7b33732abd60fc38",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/ab6761610000f17809882b1b7b33732abd60fc38",
              "width" : 160
            } ],
            "name" : "Santana",
            "popularity" : 70,
            "type" : "artist",
            "uri" : "spotify:artist:6GI52t8N5F02MxU0g5U69P"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/36hwOoNPgnsKnhoMBYpJrJ"
            },
            "followers" : {
              "href" : null,
              "total" : 47967
            },
            "genres" : [ "acoustic blues", "blues", "blues rock", "electric blues", "harmonica blues", "louisiana blues", "rhythm and blues", "rock-and-roll", "swamp blues", "swamp r[...]
