---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists?ids=3fxdn6mfKvNFJ1Zx37On7W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/3fxdn6mfKvNFJ1Zx37On7W"
            },
            "followers" : {
              "href" : null,
              "total" : 54210
            },
            "genres" : [ "ethnotronica", "latintronica", "nuevo folklore argentino", "organic electronic", "organic house" ],
            "href" : "https://api.spotify.com/v1/artists/3fxdn6mfKvNFJ1Zx37On7W",
            "id" : "3fxdn6mfKvNFJ1Zx37On7W",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab6761610000e5ebe3cca9abc82b6cf2816ff09f",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/ab67616100005174e3cca9abc82b6cf2816ff09f",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/ab6761610000f178e3cca9abc82b6cf2816ff09f",
              "width" : 160
            } ],
            "name" : "Rodrigo Gallardo",
            "popularity" : 44,
            "type" : "artist",
            "uri" : "spotify:artist:3fxdn6mfKvNFJ1Zx37On7W"
          } ]
        }
      vcr_decompressed: gzip
  recorded_at: Wed, 02 Nov 2022 04:08:21 GMT
recorded_with: VCR 6.1.0
