---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists?ids=1iNbNgr25BaS5e9a8xUZ9J,3ggwAqZD3lyT2sbovlmfQY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/1iNbNgr25BaS5e9a8xUZ9J"
            },
            "followers" : {
              "href" : null,
              "total" : 465
            },
            "genres" : [ ],
            "href" : "https://api.spotify.com/v1/artists/1iNbNgr25BaS5e9a8xUZ9J",
            "id" : "1iNbNgr25BaS5e9a8xUZ9J",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273c1ce15f78cf5179b2436c939",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02c1ce15f78cf5179b2436c939",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851c1ce15f78cf5179b2436c939",
              "width" : 64
            } ],
            "name" : "Scientist",
            "popularity" : 1,
            "type" : "artist",
            "uri" : "spotify:artist:1iNbNgr25BaS5e9a8xUZ9J"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/3ggwAqZD3lyT2sbovlmfQY"
            },
            "followers" : {
              "href" : null,
              "total" : 560844
            },
            "genres" : [ "alternative metal", "death metal", "djent", "nu metal", "progressive groove metal", "swedish metal", "technical groove metal", "technical thrash" ],
            "href" : "https://api.spotify.com/v1/artists/3ggwAqZD3lyT2sbovlmfQY",
            "id" : "3ggwAqZD3lyT2sbovlmfQY",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab6761610000e5eb2198c33d521ca13e0204b789",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/ab676161000051742198c33d521ca13e0204b789",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/ab6761610000f1782198c33d521ca13e0204b789",
              "width" : 160
            } ],
            "name" : "Meshuggah",
            "popularity" : 55,
            "type" : "artist",
            "uri" : "spotify:artist:3ggwAqZD3lyT2sbovlmfQY"
          } ]
        }
      vcr_decompressed: gzip
  recorded_at: Wed, 02 Nov 2022 04:08:14 GMT
recorded_with: VCR 6.1.0
