---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/tracks?limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER ACCESS TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjAzNjhlNDcwZjk2ZjFiNjVmNmZmZTYxN2MzMzFiOTE5Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/me/tracks?offset=0&limit=50",
          "items" : [ {
            "added_at" : "2022-11-02T03:49:13Z",
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6Dh3MoWTxe4naA5fWfTQMe"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6Dh3MoWTxe4naA5fWfTQMe",
                  "id" : "6Dh3MoWTxe4naA5fWfTQMe",
                  "name" : "The Missing Brazilians",
                  "type" : "artist",
                  "uri" : "spotify:artist:6Dh3MoWTxe4naA5fWfTQMe"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/1uN0ROUKzpAt3FnnNTXuBw"
                },
                "href" : "https://api.spotify.com/v1/albums/1uN0ROUKzpAt3FnnNTXuBw",
                "id" : "1uN0ROUKzpAt3FnnNTXuBw",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273f78f0c8601b8c4816a4de69a",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02f78f0c8601b8c4816a4de69a",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851f78f0c8601b8c4816a4de69a",
                  "width" : 64
                } ],
                "name" : "Warzone",
                "release_date" : "1984-01-01",
                "release_date_precision" : "day",
                "total_tracks" : 8,
                "type" : "album",
                "uri" : "spotify:album:1uN0ROUKzpAt3FnnNTXuBw"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6Dh3MoWTxe4naA5fWfTQMe"
                },
                "href" : "https://api.spotify.com/v1/artists/6Dh3MoWTxe4naA5fWfTQMe",
                "id" : "6Dh3MoWTxe4naA5fWfTQMe",
                "name" : "The Missing Brazilians",
                "type" :[...]
